@import '../../../postcss/variables.css';

.SearchInput {
    --borderColor: color($accent tint(50%));
    --scaleX: 0;
}

.SearchInput {
    width: 367px;
    min-width: 300px;
    height: 45px;
    border-radius: toRem(10);
    color: #000;
    transition: border-color 0.15s ease-in-out; 
    box-shadow: 0 5px 11px color(#000 a(57%));
    position: relative;
    overflow: hidden;
}

.SearchInput.input {
    border: 1px solid var(--borderColor);
}

.SearchInput_focused {
    --borderColor: $accent;
}

.SearchInput_main {
    margin-right: toRem(30);
}

.SearchInput__input {
    font-size: toRem(16);
    font-family: $RobotoRegular;
    width: 100%;
    height: 100%;
    display: block;
    padding: toRem(10);
}

.SearchInput.input::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $accent;
    transform: scaleX(var(--scaleX));
    transform-origin: left;
    transition: transform 0.1s ease-in-out;
}

.SearchInput_focused.input::after {
    --scaleX: 1;
}

.SearchInput__input::placeholder {
    font-family: $RobotoRegular;
    color: color(#CBCBCB shade(30%));
    font-size: toRem(13);
}