@import '../../../postcss/variables.css';

.Sidebar {
    background: white;
    height: 100vh;
    position: relative;
    width: 460px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @media (min-width: $md) {
        /* width: 30%; */
    }
}

.Sidebar .scrollbar-thumb.scrollbar-thumb-y {
    background: color($accent a(42%));
}