@import '../../../postcss/variables.css';

.StatusBar {
    box-shadow: 0 5px 17px color(#000 a(16%));
    position: relative;
    z-index: 1;
    padding: toRem(20) toRem(15);
    display: grid;
    grid-row-gap: toRem(20);
}

.StatusBar__row {
    display: flex;
    justify-content: space-between;
}

.StatusBar__title {
    margin: 0;
    font-family: $RobotoBold;
    font-size: toRem(16);
    text-transform: uppercase;
}

.StatusBar__list {
    display: grid;
    grid-column-gap: toRem(15);
    grid-auto-flow: column;
}

.StatusBar__item_icon {
    width: 26px;
    height: 26px;
}

.StatusBar__icon {
    width: 100%;
    height: 100%;
    fill: $accent;
}

.StatusBar__direction {
    font-family: $RobotoBold;
    color: $accent;
    font-size: toRem(18);
}