@import '../../../postcss/variables.css';

.TransportRoute {
    --accentColor: $accent;
    --infoIconColor: var(--accentColor, #000);
    --dayTextColor: var(--accentColor, #000);
    --dayBorderColor: color(#707070 a(21%));
    --dayWeekendBg: color($blue tint(40%));
    --dayWeekendColor: #fff;
}

.TransportRoute {
    font-family: $RobotoRegular;
    padding: toRem(20) toRem(15) toRem(20) toRem(20);
    transition: background 0.15s ease-in-out; 
    cursor: pointer;   
    display: grid;
    grid-template-areas: "route-weekdays route-weekdays route-options" "route-number route-name route-name";
    grid-template-columns: minmax(toRem(118), auto) 2fr 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-row-gap: toRem(20);
    grid-column-gap: toRem(10);
    align-items: center;
    border-bottom: 1px var(--accentColor, $accent) solid;
    align-content: space-around;
}

.TransportRoute__number {
    margin-right: toRem(10);
    grid-area: route-number;
    display: flex;
    align-items: baseline;
    font-size: toRem(38);
    line-height: 1;
    font-family: $RobotoBold;
    color: var(--accentColor, $accent);
}

.TransportRoute:not(.TransportRoute_active):hover {
    background: color($accent tint(92%));
}

.TransportRoute.TransportRoute_active {
    --accentColor: #fff;
    --dayBorderColor: var(--accentColor, #fff);
    --dayWeekendBg: #fff;
    --dayWeekendColor: $blue;
}

.TransportRoute_active {
    background: color($blue tint(20%));
    color: #fff;
}

.TransportRoute__options {
    display: flex;
    justify-self: flex-end;
}

.TransportRoute__direction {
    margin-right: 10px;
}

.TransportRoute__info-button {
    width: 22px;
    height: 22px;
}

.TransportRoute__icon {
    width: 100%;
    height: 100%;
    fill: var(--infoIconColor, $accent);
    margin-left: toRem(7);
    flex-shrink: 0;
}

.TransportRoute__icon_info {
    padding: toRem(4);
    border-radius: 50%;
    border: var(--infoIconColor, $accent) 1px solid;
}

.TransportRoute__icon_transport {
    width: 22px;
    height: 22px;
}

.TransportRoute__name {
    grid-area: route-name;
    font-size: toRem(16);
    line-height: toRem(24);
}