@import '../../../postcss/variables.css';

.TransportRoute {
    font-family: $RobotoRegular;
    padding: toRem(20);
    transition: background 0.15s ease-in-out; 
    cursor: pointer;   
    display: grid;
    align-items: center;
    --infoIconColor: $accent;
}

.TransportRoute__number {
    margin-right: toRem(30);
}

.TransportRoute:not(.TransportRoute_active):hover {
    background: color($accent tint(80%));
}

.TransportRoute_active {
    background: color($blue tint(20%));
    color: #fff;
    --infoIconColor: #fff;
}

.TransportRoute__info-button {
    width: 22px;
    height: 22px;
}

.TransportRoute__icon {
    width: 100%;
    height: 100%;
    fill: var(--infoIconColor, $accent);
}

.TransportRoute__icon_info {
    padding: toRem(4);
    border-radius: 50%;
    border: var(--infoIconColor, $accent) 1px solid;
}

.TransportRoute__icon_transport {
    width: 22px;
    height: 22px;
}