@import '../../../postcss/variables.css';

.Bar {

}

.Bar_main {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 30px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: toRem(20);
}

