@import '../../../postcss/variables.css';

.BusRoute {
    font-family: $RobotoRegular;
    padding: toRem(20);
    transition: 0.25s ease-in-out; 
    cursor: pointer;   
    display: flex;
    align-items: center;
}

.BusRoute__number {
    margin-right: toRem(30);
}

.BusRoute:hover {
    box-shadow: inset 0 -2px 0 $blue;
}

.BusRoute_active {
    background: $blue;
    color: #fff;
    box-shadow: inset 0 -2px 0 $blue;
}