@import '../../../postcss/variables.css';


.banner {
    position: absolute;
    top: 120px;
    left: 120px;
    padding: toRem(40);
    z-index: 1;
    font-family: $RobotoRegular;
    font-size: toRem(30);
    background: rgba(255,255,255,.5);
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 0 1px 10px color($accent tint(60%));
    color: $accent;
}

.banner__icon {
    height: 40px;
    width: 40px;
    top: 1px;
    position: absolute;
    left: 40px;
}